{% liquid
 assign featured_image = product.featured_image
  assign secondary_image = product.images[1] | default: product.featured_image 
%}


<link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}"></link>

<product-card 
  class="splide__slide"
>
  <a href="{{ product.url }}" class="product-card__link">
    <div class="media media--square">
      <img
        srcset="
          {%- if featured_image.width >= 165 -%}{{ featured_image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if featured_image.width >= 360 -%}{{ featured_image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if featured_image.width >= 533 -%}{{ featured_image | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if featured_image.width >= 720 -%}{{ featured_image | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if featured_image.width >= 940 -%}{{ featured_image | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if featured_image.width >= 1066 -%}{{ featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ featured_image | image_url }} {{ featured_image.width }}w
        "
        src="{{ featured_image | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ featured_image.alt | escape }}"
        class="motion"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ featured_image.width }}"
        height="{{ featured_image.height }}"
      >     
      <img
        srcset="
          {%- if secondary_image.width >= 165 -%}{{ secondary_image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if secondary_image.width >= 360 -%}{{ secondary_image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if secondary_image.width >= 533 -%}{{ secondary_image | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if secondary_image.width >= 720 -%}{{ secondary_image | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if secondary_image.width >= 940 -%}{{ secondary_image | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if secondary_image.width >= 1066 -%}{{ secondary_image | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ secondary_image | image_url }} {{ secondary_image.width }}w
        "
        src="{{ secondary_image | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt=""
        class="motion"
        loading="lazy"
        width="{{ secondary_image.width }}"
        height="{{ secondary_image.height }}"
      >
      {% comment %} Quick view button {% endcomment %}
      <div class="product-card__overlay-btn">
        <span class="product-card__overlay-quick-view-button">Quick View
        </span>
      </div>
      
    </div>

  <div class="product-card__info">
    <div class="product-card__title h">{{ product.title }}</div>

    <div class="product-card__vendor">{{ product.vendor }}</div>
    <div class="product-card__prices-view-details">
      <div class="product-card__prices">
      <span class="product-card__price">{{ product.price  | money_with_currency  }}</span>

      {% if product.compare_at_price > product.price %}
        <s class="product-card__compareprice">{{ product.compare_at_price |  money_with_currency  }}</s>
      {% endif %}
      </div>
    
    
{% comment %} View Details button {% endcomment %}
      <div class="product-card__overlay-view-details">
        <span>View Details</span> <span>
						<svg class="icon" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M3.95978 5.90881L0 1.94899L1.13137 0.817627L6.22258 5.90881L1.13137 10.9999L0 9.86857L3.95978 5.90881Z" fill="currentColor"></path>
       </svg>
        </span>
      </div>
    </div>
    </div>
    </a>
</product-card>